body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.gh{
  text-align: center;
}
.np{
  margin: 10px auto;
  
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.sd{
  
  width: 50%;
  height: 100%;
  box-shadow: 20px 20px 8px rgb(14, 16, 14);
}
.sd:hover{
  transform: scale(1.01);
}
.jk{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#yt{
  color: rgb(8, 131, 8);
  font-size: 3rem;
  box-shadow: 5px 5px 8px gray;
}
.button{
  width: 100px;
  height: 40px;
 border: 3px  rgb(7, 147, 7) solid;
  border-radius: 10px;
  margin-left: 50px;
  background-color: aqua;
  box-shadow: 3px 3px 8px rgb(15, 185, 15);
}
.button:hover {
  transform: scale(1.2);
  background-color: red;
}
.button:active {
  transform: translateY(3PX);
}
.y{
  color: rgb(2, 46, 2);
  text-align: center;
}
